:root {
    --font-family: "Gilroy-Bold", Arial, sans-serif;
    color: white;
}

body {
    margin: 0 auto;
    color: white;
    font-weight: 700;
    font-style: normal;
}
.header{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.header,
.header__center {
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.header__logo{
    margin-right: 100px;
    gap: 10px;

}
.header__button{
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.62);
    background-color: transparent;
    font-weight: 700;
    padding: 10px 30px 10px 30px ;
    color: white;
}
.header__button:hover {
    color: #4B379E;
    border-color: #4B379E;
}

.banner{
    font-family: var(--font-family);
    background-image: url('images/background/background_main.svg');
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner__content{
    text-align: center;
}
.banner__content__title{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.banner__content_text{
    font-weight: normal;
}

.banner__buttons button {
    border: none;
    margin: 30px;
    border-radius: 6px;
    width: 170px;
    height: 40px;

}

.banner__buttons__first{
    cursor: pointer;
    background-color: #7758f6;
    color: white;
}
.banner__buttons__first:hover{
    color: white;
    background-color: #4B379E;

}
.banner__buttons__second{
    cursor: pointer;
    background-color: #585565;
    color: white;

}
.banner__buttons__second:hover{
    border: 1px solid white ;
}
.company__logo {
    display: flex;
    justify-content: center;
    align-items: center;

}
.company__logo__svg  {
    width: 168px;
    height: 130px;
}
.features{
    color: black;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('images/background/vector2.svg');
    background-repeat: no-repeat;
    padding: 100px;
}
.features__content{
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features__content__first__head{
    font-weight: normal;
}

.features__content__first__title{

    color: black;
}
.features__content__second{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
.features__content__second__item {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 450px;
}


.statistics{
    padding: 90px;
    color: white;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('images/background/background_statistics.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.statistics__content{
    text-align: center;

}
.statistics__content__title{
    max-width: 80%;
    margin: auto;
}
.statistics__content_text{
    font-weight: normal;
    max-width: 60%;
    margin: auto;
}


.statistics__content__icons{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.statistics__content__icons__item{
    display: flex;
    gap: 20px;
}
.statistics__content__second__item__text__small{
    margin-top: -10px;
    font-weight: normal
}

.data-analysis{
    padding: 90px;
    color: black;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('images/background/vector4.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.data-analysis__content {
    width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-analysis__content__first {
    width: 330px;
}

.data-analysis__content__first__head {
    font-weight: normal;
}

.data-analysis__content__first__title {
    color: black;
}

.data-analysis__content__second {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}

.data-analysis__content__second__item {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 450px;
}
.data-analysis__content__second__item__text p {
    margin-top: -10px;
}
.contact__footer{
    background-image: url('images/background/background_contact.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{

    padding: 90px;
    font-family: var(--font-family);
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    margin: auto;

}
.contact__content__second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact__content__second__item {
    width: 48%; /* Adjust the width as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
}
.contact__content__second__item__text p {
    font-weight: normal;
    margin-top: -10px;
}
.contact__content__second__item__icons{

    display: flex;
    gap: 15px;
    margin-top: -10px;
}
.footer__content {
    border-top: 1px solid gray;
    width: 66%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
}

.footer__content__links {
    /* Styles for links or other content in the footer */
}

.footer__content__left {
    text-align: left;
}

.footer__content__right {
    text-align: right;
}

.contact__form {
    text-align: center;
    color: black;
    width: 420px;
    padding: 40px 40px 60px;
    border-radius: 10px;
    background-color: #fff;
}
.contact__form__title{
    font-size: 22px;
}
.contact__content__first__head{
    font-weight: normal;
}
.contact__form__input{
    width: 96%;
    height: 35px;
    margin: 10px 0 10px;
    border-radius: 6px;
    border: solid 1px grey;
    padding-left: 10px;

}
.contact__form__input:focus {
    border-color: #7758f6;
}
.contact__form__textarea {
    max-width: 96%;
    min-width: 96%;
    max-height: 200px;
    min-height: 50px;

    margin: 10px 0 10px;
    border-radius: 6px;
    border: solid 1px gray;
}
.contact__form__input:focus {
    outline: none;
    border: solid 1px #7758f6;
}

.contact__form__button {
    cursor: pointer;
    margin-top: 30px;
    color: white;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    background-color: #7758f6;
}
.contact__form__button:hover {
    color: white;
    background-color: #4B379E;
}
@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header__center {
        flex-direction: column;
        gap: 20px;
    }

    .header__logo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header__button {
        margin-top: 20px;
    }

    .banner {
        height: auto;
        padding: 20px;
    }
    .banner__dashboard object {
        width: 200px; /* Set the desired width */
        height: 150px; /* Set the desired height */
    }
    .banner__content__title,
    .banner__content_text {
        font-size: 18px;
    }

    .banner__buttons {
        margin: 20px;
    }

}